<% content_for(:page_title) do %>
  <%= t('collections') + ' - ' + t('blacklight.application_name') %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2><%= t('collections') %></h2>
    </div>
  </div>
  <%= render partial: 'shared/collection_exhibit_grid', locals: {items: @all, path: 'collections'} %>
</div>
