<% content_for(:page_title) do %>
  <%= t('collections') + ' - ' + t('blacklight.application_name') %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1><%= t('collections') %></h1>
      
      <% @collections.each do |path, collection| %>
        <h2><%= link_to(collection.title, '/collections/' + collection.tab_path) %></h2>
      <% end %>
      
    </div>
  </div>
</div>