$dark-purple: #732487;
$medium-purple: #CB6508;
$light-blue: #ff0;
$pale-blue: #DEE5EF;

$skyblue: #8dbaff;
$pale-skyblue: #d6e6fc;
$red: #8F152C;

$dark-grey: #414141; // TODO: unused?
$medium-grey: #676767; // TODO: unused?
$light-grey: #939598;
$pale-grey: #F1F1F1;

$transparent: rgba(0, 0, 0, 0.6);
