$dark-blue: #732487;
$medium-blue: #5D73B1;
$light-blue: #93A3CA;
$pale-blue: #DEE5EF;

$yellow: #EFBC45;
$pale-yellow: #FDD88B;
$red: #8F152C;

$dark-grey: #414141; // TODO: unused?
$medium-grey: #6E6F71; // TODO: unused?
$light-grey: #939598;
$pale-grey: #F1F1F1;

$transparent: rgba(0, 0, 0, 0.6);
