$font-family: 'sans-serif' !default;

html > body {
    font-family: $font-family;
    font-size: 18px;
    line-height: 35px;
    p { margin: 0 0 40px; }
    a:hover { text-decoration: none; } // No examples in specs of underline.
    h1 {
        font-size: 48px;
        font-weight: $bold;
        padding-bottom: 20px;
    }
    h2 {
        font-weight: $semibold;
    }
    .btn-primary {
        background: $medium-blue;
        border: none;
    }
    
    // Mostly for line-breaking long URLs in citation, when viewed on mobile.
    // I think in a URL, hyphens could be confusing... 
    // We could add a special class to supress hyphenation only on URLs?
    
    // From: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
    
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
}