$font-family: 'sans-serif' !default;

html > body {
    font-family: $font-family;
    font-size: 18px; // Best guess
    a:hover { text-decoration: none; } // No examples in specs of underline.
    h1 {
        font-size: 48px;
        padding-bottom: 20px;
    }
}