<% content_for(:page_title) do %>
  <%= t('exhibits') + ' - ' + t('blacklight.application_name') %>
<% end %>

<main class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1><%= t('exhibits') %></h1>
    </div>
  </div>
  <%= render partial: 'shared/collection_exhibit_grid', locals: {items: @all, path: 'exhibits'} %>
</main>
