<% content_for(:page_title) do %>
  <%= t('exhibits') + ' - ' + t('blacklight.application_name') %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1><%= t('exhibits') %></h1>
      
      <% @exhibits.each do |path, exhibit| %>
        <h2><%= link_to(exhibit.title, '/exhibits/' + exhibit.tab_path) %></h2>
      <% end %>
      
    </div>
  </div>
</div>