<% content_for(:page_title) do %>
  <%= t('exhibits') + ' - ' + t('blacklight.application_name') %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1><%= t('exhibits') %></h1>
    </div>
  </div>
  <div class="row">
    <%= render partial: 'shared/grid', locals: {sets: @exhibits, path: 'exhibits'} %>  
  </div>
</div>