<h2 class="page-title">
  <%= item.title_html %>
</h2>

<% if item.respond_to?(:author) %>
  <div class="byline">
    By <%= item.author.html_safe %>
  </div>
<% end %>

<img src="<%= item.img_src %>" class="signature"/>

<div>
  <%= item.tabs['intro'].html_safe %>
</div>