<h1>
  <%= item.title_html %>
</h1>

<% if item.respond_to?(:author) %>
  <h2>
    By <%= item.author.html_safe %>
  </h2>
<% end %>

<div class="pull-left col-sm-4" >
  <img src="<%= item.img_src %>"/>
</div>

<div>
  <%= item.tabs['intro'].html_safe %>
</div>