<h1>
  <%= set.title_html %>
</h1>

<% if set.respond_to?(:author) %>
  <h2>
    By <%= set.author.html_safe %>
  </h2>
<% end %>

<div class="pull-left col-sm-4" >
  <img src="<%= set.img_src %>"/>
</div>

<div>
  <%= set.tabs['intro'].html_safe %>
</div>