<h2 class="page-title">
  <%= item.title_html %>
</h2>

<% if item.respond_to?(:author) %>
  <div class="byline">
    By <%= item.author.html_safe %>
  </div>
<% end %>

<div class="signature col-sm-6" >
  <img src="<%= item.img_src %>"/>
</div>

<div>
  <%= item.tabs['intro'].html_safe %>
</div>