<a href="/catalog/<%= document.id %>">
  <div class="aspect-ratio-4x3">
    <div class="aspect-ratio-content">
      <img src="<%= document[:thumbnail_src] %>">
    </div>
  </div>
  <div class="info">
    <%= document[:title] %>
  </div>
</a>

<% document.response[:highlighting][document.id][:text].each do |html| %>
  <blockquote>
    <%= html.html_safe %>
  </blockquote>
<% end %>
