<a href="/catalog/<%= document.id %>">
  <div class="aspect-ratio-16x9">
    <div class="aspect-ratio-content">
      <img src="<%= document[:thumbnail_src] %>">
    </div>
  </div>
  <div class="info">
    <%= document[:title] %>
  </div>
</a>