<a href="/catalog/<%= document.id %>">
  <div class="aspect-ratio-4x3">
    <div class="aspect-ratio-content">
      <img alt="" src="<%= document[:thumbnail_src] %>" aria-hidden="true">
      <% (@highlighting || {})[document.id].tap do |highlight_html| %>
        <% if highlight_html %>
          <div class="highlight">
            &hellip;
            <%= highlight_html.html_safe %>
            &hellip;
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="info" aria-labeledby="title" aria-describedby="description">
    <div id="title">
      <%= document[:title] %><br/>
    </div>
  </div>
</a>
