<nav id="header" class="container-fluid">
  <div class="col-md-6">
    <p>TODO: logo</p>
    <p>TODO: search</p>
  </div>
  <div class="col-md-2"><%= link_to('WGBH Series', '/TODO') %></div>
  <div class="col-md-2"><%= link_to('Scholar Exhibits', '/TODO') %></div>
  <div class="col-md-2"><%= link_to('Special Collections', '/TODO') %></div>
</nav> 