<div class="document col-md-4 col-sm-6">
  <a href="/catalog/<%= document.id %>">
      <!-- Sort order: 2.0 -->
      <img src="<%= document[:img_src] || 'https://s3.amazonaws.com/openvault.wgbh.org/special_collections/war_peace/war_peace.png' %>">
      <div class="info">
        <%= document[:title] %>
      </div>
    </a>
  
  
</div>