<%
# TODO: I don't like checking param values and setting defaults here.
#  Find a better way?

columns ||= 1
columns = columns.to_i
raise "Value of `columns' passed to field_list partial should be between 1 and 4, but #{columns} was given" unless columns.between?(1,4)

bootstrap_colspan = 12 / columns
%>


<div class="row field-list">
  <% field_list.in_groups(columns, false) do |field_group| %>
    <div class="col-md-<%= bootstrap_colspan %>">
      <dl>
        <% field_group.each do |field| %>
          <dt><%= field[:label] %></dt>
          <dd><%= field[:value] %></dd>
        <% end %>
      </dl>
    </div>
  <% end %>
</div>
