<div class="modal fade" id="password-modal" tabindex="-1" role="dialog" aria-labelledby="password-modal-title">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="password-modal-title">Password Required</h4>
      </div>
      <div class="modal-body">
        This content requires a password to access. Your password is:
        <pre id="hint">openvault-takes-security-seriously</pre>
        Please enter it below.
      </div>
      <div class="modal-footer">
        <input id="password" type="password">
        <button type="submit" class="btn btn-primary" onclick="
          if ($('#password').val() === $('#hint').text()) {
            $('#password-modal').modal('hide');
          } else {
            alert('Try again.');
          }
        ">Enter</button>
      </div>
    </div>
  </div>
</div>