<div class='row search-header-form-and-contact'>
  <div class='col-md-4 col-sm-6'>
    <%= render partial: 'shared/search' %>
  </div>
  
  <div class='col-md-4 col-sm-6 contact-link'>
    Can&rsquo;t find it online?
    <a href="/about/contact_us">Contact us!</a>
  </div>
</div>