<%# ADDED: (to hr) %>

<%= render 'catalog/search_header_form_and_contact' %>
  
<hr/>
<%# DELETED: render 'did_you_mean' %>

<div class='row'>
  <div class='pull-left'>
    <%= render 'constraints' %>
  </div>
  
  <div class='pull-right'>
    <%= render 'sort_and_per_page' %>
  </div>
</div>