<div id="content">
  <% unless has_search_parameters? %>
    <%# TODO: Maybe it should redirect to the home page? %>
    <%= render 'home' %>
  <% else %>
    <%= render 'search_results' %>
  <% end %>
</div>