<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      
      <h1><%= @pbcore.title %></h1>
      <%= content_tag('p', @pbcore.date) if @pbcore.date %>
      
      <%= render partial: 'player' %>
      
      <dl>
        <% [
              {field: 'series_title', label: 'Series', link: true},
              {field: 'program_title', label: 'Program', link: true},
              {field: 'program_number'},
              {field: 'item_title', label: 'Title'},
              {field: 'series_description'},
              {field: 'program_description'},
              {field: 'item_description', label: 'Description'},
              {field: 'duration'},
              {field: 'asset_type'},
              {field: 'media_type'},
              {field: 'subjects', link: true},
              {field: 'locations', link: true},
              {field: 'genres', link: true},
              {field: 'topics', link: true},
              {field: 'creators'},
              {field: 'contributors'},
              {field: 'publishers', label: 'Publication Information'},
              {field: 'rights_summary'}
            ].each do |field_def| %>
          <%= render partial: 'pbcore_field', locals: field_def %>
        <% end %>
      </dl>
    </div>
  </div>
</div>