// Inspired by https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/

.aspect-ratio {
  $ratio: 362 / 229;
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100% / $ratio;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden; // Not in example, but seems necessary to me.
  }
}
