.blacklight-catalog-show {
    dl * {
        margin: $grid-gutter-width/4 0;
    }
    dt {
        font-weight: $semibold;
    }
    dd {
        padding-left: $grid-gutter-width;
    }
    #player {
        background-color: $pale-grey;
        padding: $grid-gutter-width/2 0;
        img, video, audio { width: 100%; }
        iframe { width: 100%; }
    }
    #playlist {
        width: 100%;
    }
    #password-modal {
        #hint {
            font-family: monospace;
            font-weight: bold;
            background: $pale-grey;
        }
    }
}