.blacklight-collections-index {
    #main-container {
        img {
            width: $container-md/3 - $grid-gutter-width; // ie, the width of col-md-4
            height: 200px; // TODO: What we need are appropriately cropped images.
            margin-bottom: 0;
        }
        h2 {
           background-color: $yellow;
           color: $dark-blue;
           padding: $grid-gutter-width*0.5 $grid-gutter-width;
           text-transform: uppercase;
           font-size: 20px;
           margin-top: 0;
           margin-bottom: $grid-gutter-width;
           height: 75px;
        }
    }
}

.blacklight-collections-show {
    img.pull-left {
        margin-right: 1em;
        margin-bottom: 1em;
    }
}