.blacklight-collections-index,.blacklight-exhibits-index {
    #main-container {
        img {
            width: 100%;
            margin-bottom: 0;
        }
        .info {
           background: $yellow;
           &:hover { background: $pale-yellow;}
           color: $dark-blue;
           padding: $grid-gutter-width*0.5 $grid-gutter-width*0.75;
           // Left-right padding chosen such that AAPB fits in two lines.
           margin-top: 0;
           margin-bottom: $grid-gutter-width;
           h2 {
               margin: $grid-gutter-width*0.25 0;
           }
           line-height: 1.2;
        }
    }
}

.blacklight-exhibits-index {
    #main-container {
        .info {
            font-size: 24px;
            h2 { 
                font-weight: bold;
                font-size: 24px;
            }
        }
    }
}

.blacklight-collections-index {
    #main-container {
        .info {
            h2 {
              font-size: 30px; // Bigger font
              font-weight: bold;
              text-transform: uppercase;
            }
        }
    }
}

.blacklight-collections-show,.blacklight-exhibits-show {
    #main-container {
        padding-top: 20px;

        p a {
            font-weight: bold;
            // TODO: I am not sure this is what we want,
            // but if we do, should it be applied to more pages?
        }
        
        a.back {
           font-size: 24px;
        }

        .byline {
            margin-top: -10px;
            margin-bottom: 20px;
        }

        div.pull-left img {
            // This is very ad hoc.
            margin-left: -$grid-gutter-width/2;
            margin-right: $grid-gutter-width/2;
            margin-bottom: $grid-gutter-width;
            width: 100%;
        }

        #tabs {
            margin-top: $grid-gutter-width/2;
            // Needed particularly if there are no tabs.
        }

        img {
            width: 100%;
            margin-bottom: 0;
        }
        .info {
           background-color: $medium-blue;
           color: #FFF;
           padding: $grid-gutter-width*0.5 $grid-gutter-width*0.75;
           // Left-right padding chosen such that AAPB fits in two lines.
           margin-top: 0;
           margin-bottom: $grid-gutter-width;
           h2 {
               margin: 0;
           }
        }
        #documents .document {
            border: none;
        }
        
        iframe {
            // (For embeds)
            // If this were really wide, we might want media queries,
            // but seems like enough for now.
            width: 700px;
            height: 300px;
            border: none;
            background: $pale-grey;
        }
    }
}