#header {
    background: $dark-blue;
    img,input {
        width: 250px;
    }
    input {
        color: #000;
    }
    form .glyphicon {
        position: absolute;
        color: #000;
        left: 240px;
        top: 7px;
    }
}

#footer {
    background: $light-grey;
    .only-home { display: none; }
}

#header,#footer {
    padding: 2em;
    &, a { color: #FFF; }
}