#header {
    background: $dark-blue;
    svg#ov-logo,input {
        width: 250px;
    }
    svg#ov-logo {
        text { fill: #FFF;  }
    }
    input {
        padding: 0px 28px 0px 8px;
        color: #000;
    }
    form .glyphicon {
        position: absolute;
        color: #000;
        left: 240px;
        top: 7px;
    }
    .nav a {
        margin-left: 2em;
        font-size: 22px;
        font-weight: $medium;
        &:hover { color: $yellow; }
    }
}

#footer {
    background: $light-grey;
    font-size: 22px;
    margin-top: 80px;

    .primary-links a {
      font-weight: $semibold;
    }

    .copyright {
      margin-top: 20px;
      font-size: 14px;
    }
    
    svg#wgbh-logo {
      text { font-weight: bold; }
      path,text { fill: #FFF;  }
    }
}
.blacklight-home #footer svg#wgbh-logo {
      path,text { fill: $light-grey;  }
}


#header,#footer {
    @media(min-width: $screen-md-min) {
        padding: 2em;
    }
    @media(max-width: $screen-sm-max) {
        padding: 1em 0;
        input { width: 100% }
        svg#ov-logo { width: 200px; }
        form .glyphicon { right: 30px; left: auto; }
    }
    &, a { color: #FFF; }
}