#header {
    background: $dark-blue;
    img,input {
        width: 250px;
    }
    input {
        padding: 0 8px;
        color: #000;
    }
    form .glyphicon {
        position: absolute;
        color: #000;
        left: 240px;
        top: 7px;
    }
    .nav a {
        margin-left: 2em;
        font-size: 22px;
        font-weight: 600;
        &:hover { color: $yellow; }
    }
}

#footer {
    background: $light-grey;
    font-size: 22px;

    .primary-links a {
      font-weight: $semibold;
    }

    .copyright {
      margin-top: 20px;
      font-size: 14px;
    }
}

#header,#footer {
    padding: 2em;
    &, a { color: #FFF; }
}