.blacklight-home-index {
    
    .carousel {
        overflow: hidden;
        // Carousel does not show in xs.
        @media ( min-width: $screen-sm-min ) {
            height: 300px;
            font-size: 48px * 300 / 475;
        }
        @media ( min-width: $screen-md-min ) {
            height: 392px;
            font-size: 48px * 392 / 475;
        }
        @media ( min-width: $screen-lg-min ) {
            height: 475px;
            font-size: 48px;
        }
        .carousel-inner {
            position: absolute;
            bottom: 0; // If imgs are sized correctly, this is not necessary.
            img {
                width: 100%;
                transition: 10s ease-in-out;
                &:hover {
                    transform: scale(1.3);
                }
            }
        }
        .carousel-control {
            background: $transparent;
            padding: 50px 0px;
            top: 33% !important;
            bottom: 33% !important;
            width: 10% !important;   
        }
        .carousel-caption {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: auto;
            font-weight: $semibold;
            background-color: $transparent;
            color: #FFF;
            text-align: left;
            padding: $grid-gutter-width/4 $grid-gutter-width;
        }
    }
    
    #nav-button-container {
        padding-top: 66px;
        @media (max-width: $screen-xs-max) {
            padding: 0;
            margin: 0;
        }
        a h2 {
            color: #fff;
            font-size: 36px;
            background: $dark-purple;
            &:hover { background: $medium-purple; }
            @media (min-width: $screen-lg-min) {
                padding: 1em 0em; // No side padding, so none line wrap...
            }
            @media (max-width: $screen-md-max) {
                padding: 1em 1.2em; // Excessive side padding, to force all to wrap.
            }
            @media (max-width: $screen-xs-max) {
                padding: 0.5em 0em;
                font-size: 24px;
            }
            font-weight: $semibold;
        }
    }
    
    
    #about {
        margin: 80px 0;
        padding: 40px;
        @media (max-width: $screen-xs-max) {
            padding: 0.5em;
            margin: 1em;
        }
        background: $pale-grey;
        color: #000;
        a { 
            color: $skyblue;
            font-size: 20px;
            &:hover { color: $pale-skyblue; }
            font-weight: $semibold;
        }
        a.btn {
            color: $dark-purple; 
            background: $pale-blue;
            width: 95%;
            height: 50px;
            font-size: 24px;
            img { height: 100%}
            margin-bottom: 20px; // Just for mobile, really.
            font-weight: $medium;
        }
        h3 {
            font-weight: $bold;
        }
        p {
            margin: 0;
        }
    }
    
    // Override styles for homepage #footer
    #footer {
        background: $pale-grey;
        color: $light-grey;

        a {
          color: $light-grey;
        }

        .primary-links a {
          color: $red;
        }
    }
}