.blacklight-home-index {
    a h2 {
        color: $dark-blue;
        background: #F4BA54;
        padding: 1em 0em; // no side padding, to avoid unnecessary line-wrapping in medium width.
    }
    
    .carousel {
        margin-top: -1px; // Flash div above inserts a gap.
        .carousel-control {
            background: $transparent;
            padding: 50px 0px;
            top: 30% !important;
            bottom: 30% !important;
            width: 15% !important;   
        }
        .carousel-caption {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: auto;
            font-size: 300%;
            background-color: $transparent;
            color: #FFF;
            text-align: left;
            padding: $grid-gutter-width/4 $grid-gutter-width;
        }
    }
    
    #about {
        margin: $grid-gutter-width/2 0;
        padding: $grid-gutter-width/2;
        background: $grey;
        color: #FFF;
        a { color: $yellow; }
        a.btn {
            color: $dark-blue; 
            background: $light-grey;
            width: 95%;
            height: 50px;
            img { height: 100%}
            margin-bottom: 4px; // Just for mobile, really.
        }
    }
    
    #footer {
        background: #FFF;
        color: $grey;
        b a { color: #A00; }
        a { color: $grey; }
        .not-home { display: none; }
        .only-home { display: inline; }
    }
}