.blacklight-home-index {
    
    .carousel {
        margin-top: -1px; // Flash div above inserts a gap.
        .carousel-control {
            background: $transparent;
            padding: 50px 0px;
            top: 30% !important;
            bottom: 30% !important;
            width: 15% !important;   
        }
        .carousel-caption {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: auto;
            font-size: 48px;
            background-color: $transparent;
            color: #FFF;
            text-align: left;
            padding: $grid-gutter-width/4 $grid-gutter-width;
        }
    }
    
    a h2 {
        color: $dark-blue;
        font-size: 36px; // TODO: This causes line wrapping in md.
        background: $yellow;
        &:hover { background: $pale-yellow; }
        padding: 1em 0em; // no side padding, to avoid unnecessary line-wrapping in medium width.
        font-weight: $semibold;
    }
    
    #about {
        margin: $grid-gutter-width/2 0;
        padding: $grid-gutter-width/2;
        background: $light-grey;
        color: #FFF;
        a { 
            color: $yellow;
            font-size: 20px;
            &:hover { color: $pale-yellow; }
            font-weight: $semibold;
        }
        a.btn {
            color: $dark-blue; 
            background: $pale-blue;
            width: 95%;
            height: 50px;
            font-size: 24px;
            img { height: 100%}
            margin-bottom: 4px; // Just for mobile, really.
            font-weight: $medium;
        }
    }
    
    #footer {
        font-size: 22px;
        background: #FFF;
        color: $light-grey;
        .footer-link-1 {
          color: $red;
          font-weight: $semibold;
        }
        a { color: $light-grey; }
        .not-home { display: none; }
        .only-home { display: inline; }
    }
}