.blacklight-override .k_jquery-ui {
    .ui-widget-content {
        border: none;
        .ui-tabs-nav {
            li.ui-state-active a::before {
                content: '\2611 ' // Checked checkbox
            }
            li a::before {
                content: '\2610 ' // Empty checkbox
            } 
        }
    }
}
