.blacklight-series-index {
    .letters {
        padding: $grid-gutter-width/2;
        background: $medium-blue;
        font-size: 24px;
        font-weight: bold;
        color: #FFF;
        a { 
            font-weight: normal; 
            color: #FFF;
        }
        
    }
}