.blacklight-series-index {
    .letters {
        padding: 0.75 * $grid-gutter-width 1.5 * $grid-gutter-width;
        background: $medium-purple;
        font-size: 24px;
        font-weight: $bold;
        color: $dark-purple;
        a { 
            font-weight: $medium;
            color: #FFF;
        }
    }
    ul {
        padding: $grid-gutter-width/2;
        list-style-type: none;
        li {
            padding: $grid-gutter-width/8;
        }
    }
}